# Mac OS X file
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.idea/
/vendor/

# Dependency directories (remove the comment below to include it)
# vendor/
internal/pkg/config/staging.yaml
internal/pkg/config/develop.yaml

redis_data

# Local development
local.yaml
docker-compose.local.yaml
docker-compose-test.local.yaml

profile.cov
test.log
